<!-- shared/navbar-->

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #f8f9fa; padding: 20px 0; border-bottom: 1px solid #ccc;"" >
  <div class="container-fluid" >
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= root_path%>">Home</a>
        </li>
    
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
                <li><a class="dropdown-item" href="<%= new_user_profile_path%>">Edit Profile</a></li>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'btn btn-outline-danger dropdown-item' %></li>
                  <%if current_user.admin?%>
                   <li><a class="dropdown-item" href="<%= new_post_path%>">Create Post</a></li>
                  <%end%>
            <%else%>
             <li><a class="dropdown-item btn btn-primary" href="<%= new_user_registration_path%>">Sign Up</a></li>
             <li><a class="dropdown-item btn btn-secondary ms-2" href="<%= new_user_session_path%>">Sign In</a></li>
            <%end%>
          </ul>
        </li>
        <% if current_user.present? %>
          <!-- Notification Button -->
          <% notification_count= notification_count(current_user)%>
          <li class="nav-item">
          <a class="nav-link" href="<%="#{root_path}users/#{current_user.id}/notifications" %>">

              <i class="bi bi-bell"></i> <!-- Assuming you're using Bootstrap icons, change this to your icon library -->
              Notifications
              <span class="badge bg-danger"><%=notification_count%></span> <!-- Add a badge for notification count if needed -->
            </a>
          </li>
        <%end%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarrDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ruby Tutorial
          </a>
          <%= render "shared/ruby_tutorial"%>
        </li>
       
      </ul>
    </div>
  </div>
</nav>