<%= bootstrap_form_for(@post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.text_field :title %>
    <%= form.text_field :description %>
    <%= form.rich_text_area :content %>
    <%= form.file_field :image %>
    <%= form.submit %>
 
<% end %>
