<div id="<%= dom_id(post) %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      <strong>Title:</strong> <%= post.title %>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= post.description %></h6>
    <p class="card-text"><%= post.content%></p>
  </div>
</div>

<% if @comments.present? %>
  Comments:
  <%@comments.each do|comment|%>
    <div class="card-body">
      <p class="card-text">
        <strong>Description:</strong> <%= comment.body %>
      </p>
      
    </div>
  <%end%>
<%end%>
