<div id="<%= dom_id(post) %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      <strong>Title:</strong> <%= post.title %>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= post.description %></h6>
    <p class="card-text"><%= post.content%></p>
  </div>
</div>

<% if @comments.present? %>
  Comments:
  <table class="table">
  
  <tr>
   <th>Body</th>
   <th>Action</th>
  <tr>
  
  <tbody>
  
  <%@comments.each do|comment|%>
    <tr>
    <td><%= comment.body %></td>
    <td><%= link_to "#",
            class: 'btn btn-outline-danger dropdown-item',
            data: { bs_toggle: "modal", bs_target: "#newReportFormModal", comment_id: comment.id, post_id: params[:id]}  do%>
            <i class="fas fa-flag"></i> Report
            <%end%></td>
    </tr>
  <%end%>
  </tbody>
  </table>
<%end%>

<%= render 'shared/report_form_model'%>
