<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= form_tag(posts_path, method: :get, data: { controller: "post", action: "keyup->post#search" }) do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search posts...", autocomplete: "off", class: "form-control", data: {post_target: "input" } %>
  <%= content_tag(:div, id: "search-results", data: { "post-target" => "results" }) do
    # Search results will be rendered here
  end
   %>

   <%= button_tag 'Reset', type: 'reset', data: { action: "click-&gt;post#resetSearch"}%>
<% end %>



<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
